html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: blue;
  font-family: work-Sans,sans-serif;
}

.flexbox-container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: lightgreen;
  display: flex;
  flex-wrap: row;
}

.page-sidebar {
  width: 255px;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #2f3c4e;
  flex-direction: column;
}

.endless-logo {
  width: 231px;
  height: 56px;
  margin: 0;
  padding: 12px;
  background-color: transparent;
  display: flex;
  align-items:center;
  justify-content: left;
  box-shadow: -3px 1px 3px 1px rgba(68,102,242,.1);
}

.endless-logo img {
  padding: 12px;
  margin: 0;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.sidebar-user {
  width: 229.4px;
  height: 112.6px;
  padding: 25px 10px;
  background-color: transparent;
  box-shadow: 3px 2px 17px -1px rgba(68,102,242,.13);
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.sidebar-user-personal-details {
  margin: 0;
  padding: 0;
  width: 229.4px;
  height: 52.6px;
}

.sidebar-user-personal-details p {
  margin: 0;
  padding: 0;
  line-height: 1.7;
  letter-spacing: .7px;
  font-weight: 600;
  font-size: 10px;
  margin-bottom: 0;
  color: hsla(0,0%,100%,.85);
  text-transform: uppercase;
  font-family: inherit;
}

.user-name {
  margin: 16px 0px 3px 0px;
  padding: 0;
  color: #f6f7fb;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 14px;
  font-family: inherit;
}

.sidebar-user-text-center {
  display: flex;
  width: 60px;
  height: 60px;
  background-color: transparent;
  justify-content: center;
}

.sidebar-user-text-photo {
  width: 60px;
  height: 60px;
  display: flex;
  background-color: transparent;
}

.sidebar-user-text-photo img {
  border-radius: 100%;
}

.sidebar-menu {
  width: 209.4px;
  height: calc(100vh - 232.6px);
  padding: 20px;
  margin: 0;
  flex-direction: column;
  overflow-x: hidden;
  list-style: none;
  display: flex;
}

.sidebar-menu-option {
  width: 209.4px;
  height: 20.8px;
  font-size: 14px;
  letter-spacing: .5px;
  padding-bottom: 8px;
  padding-top: 8px;
  text-transform: capitalize;
  font-weight: 400;
  color: hsla(0,0%,100%,.85);
  font-family: "Nunito", sans-serif;
  cursor: pointer;
  display: flex;
  align-content: flex-end;
}

.sidebar-menu-arrow {
  width: 209.4px;
  height: 20.8px;
  display: flex;
  float: right;
}

.page-right-side {
  width: calc(100vw - 255px);
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: white;
  flex-wrap: wrap;
}

.right-side-headder {
  width: 100vw;
  height: 80px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: row;
  background-color: #fff;
}

.right-side-content {
  width: 100vw;
  height: calc(100vh - 80px);
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #f6f7fb;
}
