.page-content {
  width: 100%;
  height: calc(100% - 80px);
  margin-top: 0px;
  padding: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f7fb;
}

.page-header-container {
  width: 100%;
  height: 88.8px;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header {
  width: 95.3%;
  height: 88.8px;
  margin: 0px;
  padding: 0;
  display: flex;
  align-items: center;
}

.page-header-left {
  width: 75%;
  height: 26.4px;
  margin: 0;
  padding: 0;
  display: flex;
}

.page-header-user-profile {
  width: 22.8%;
  height: 26.4px;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: work-Sans,sans-serif;
  color: #313131;
  margin-bottom: 0;
  font-weight: 600;
}

.page-header-left-page-tab{
  width: 55%;
  height: 26.4px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.page-header-house-icon {
  width: 4.9%;
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
  margin-left: 0;
  display: flex;
  align-items: center;
}

.page-header-users {
  margin: 0;
  padding: 0;
  font-size: 14px;
  word-spacing: 4px;
  display: flex;
  align-items: center;
}

.page-header-slash {
  width: 4%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6c757d;
}

.page-header-user-profile-right {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #6c757d;
}

.page-header-right-side-icons {
  /* width: calc(100vw - 520.2px); */
  height: 100%;
  width: 25%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.page-header-right-side-icons-calendar {
  width: 11.5%;
  font-size: 22px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page-header-right-side-icons-envelope {
  width: 11.5%;
  font-size: 22px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page-header-right-side-icons-chat {
  width: 11.5%;
  font-size: 22px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page-header-right-side-icons-star {
  width: 11.5%;
  font-size: 22px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: orange;
}

.basic-table-container {
  width: 95.4%;
  margin-bottom: 50px;
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  border-radius: 5px;
}

.basic-table-styling {
  /* margin-bottom: 30px; */
  border: 0;
  width: 100%;
  transition: all .3s ease;
  letter-spacing: .5px;
  border-radius: 8px;
  box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
  display: flex;
  flex-direction: column;
}

.basic-table-styling-headline {
  width: 100%;
  height: 103px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid #e8ebf2;
}

.basic-table-styling-headline-top {
  width: 97.5%;
  font-size: 18px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
}

.basic-table-styling-headline-bottom {
  width: 97.5%;
  font-size: 12px;
  color: #777;
  margin-top: 5px;
  display: block;
  letter-spacing: 1px;
  display: flex;
}

span {
  font-size: 12px;
  color: #777;
  margin-top: 5px;
  display: flex;
  letter-spacing: 1px;
}

code {
  color: #4466f2!important;
  background-color: #f6f7fb;
  font-size: 10.5px;
  box-sizing: border-box;
  padding: 3px;
  margin: 0 3px;
  border-radius: 2px;
  word-break: break-word;
}

.basic-table-row-styling-template {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.basic-table-styling-position-number-template {
  width: 4.8%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.basic-table-styling-first-name-template {
  width: 20.4%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-size: 14px;
  font-weight: bold;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.basic-table-styling-last-name-template {
  width: 18.55%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.basic-table-styling-username-template {
  width: 17.9%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.basic-table-styling-role-template {
  width: 11.7%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.basic-table-styling-country-template {
  width: 15.7%;
  padding: 12px 0px 12px 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.basic-table-styling-position-number {
  width: 4.8%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.basic-table-styling-first-name {
  width: 20.4%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.basic-table-styling-last-name {
  width: 18.55%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.basic-table-styling-username {
  width: 17.9%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.basic-table-styling-role {
  width: 11.7%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.basic-table-styling-country {
  width: 15.7%;
  padding: 12px 0px 12px 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.basic-table-styling-position-number-last-row {
  width: 4.8%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-weight: bold;
  font-size: 14px;
}

.basic-table-styling-first-name-last-row {
  width: 20.4%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-size: 14px;
}

.basic-table-styling-last-name-last-row {
  width: 18.55%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-size: 14px;
}

.basic-table-styling-username-last-row {
  width: 17.9%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-size: 14px;
}

.basic-table-styling-role-last-row {
  width: 11.7%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-size: 14px;
}

.basic-table-styling-country-last-row {
  width: 15.7%;
  padding: 12px 0px 12px 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-size: 14px;
}

.inverse-table-container {
  width: 95.4%;
  margin: 0;
  padding: 0;
  display: flex;
  border-radius: 5px;
}

.inverse-table-styling {
  margin-top: 30px;
  background-color: #fff;
  border: 0;
  width: 100%;
  transition: all .3s ease;
  letter-spacing: .5px;
  border-radius: 8px;
  box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
  display: flex;
  flex-direction: column;
}

.inverse-table-styling-position-number-template {
  width: 4.8%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.inverse-table-styling-first-name-template {
  width: 20.4%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.inverse-table-styling-last-name-template {
  width: 18.55%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.inverse-table-styling-username-template {
  width: 17.9%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.inverse-table-styling-role-template {
  width: 11.7%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.inverse-table-styling-country-template {
  width: 15.7%;
  padding: 12px 0px 12px 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.inverse-table-styling-position-number {
  width: 4.8%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-styling-first-name {
  width: 20.4%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-styling-last-name {
  width: 18.55%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-styling-username {
  width: 17.9%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-styling-role {
  width: 11.7%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-styling-country {
  width: 15.7%;
  padding: 12px 0px 12px 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-styling-position-number-last-row {
  width: 4.8%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.inverse-table-styling-first-name-last-row {
  width: 20.4%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-size: 14px;
}

.inverse-table-styling-last-name-last-row {
  width: 18.55%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-size: 14px;
}

.inverse-table-styling-username-last-row {
  width: 17.9%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-size: 14px;
}

.inverse-table-styling-role-last-row {
  width: 11.7%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-size: 14px;
}

.inverse-table-styling-country-last-row {
  width: 15.7%;
  padding: 12px 0px 12px 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-size: 14px;
}

.inverse-table-primary-background-container {
  width: 95.4%;
  margin: 0;
  padding: 0;
  display: flex;
  border-radius: 5px;
}

.inverse-table-primary-background-styling {
  margin: 30px 0px 30px 0px;
  background-color: #fff;
  border: 0;
  width: 100%;
  transition: all .3s ease;
  letter-spacing: .5px;
  border-radius: 8px;
  box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
  display: flex;
  flex-direction: column;
}

.inverse-table-deep-blue-primary-background-styling-position-number-template {
  width: 4.8%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #4466f2!important;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.inverse-table-deep-blue-primary-background-styling-first-name-template {
  width: 20.4%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #4466f2!important;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.inverse-table-deep-blue-primary-background-styling-last-name-template {
  width: 18.55%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #4466f2!important;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.inverse-table-deep-blue-primary-background-styling-username-template {
  width: 17.9%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #4466f2!important;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.inverse-table-deep-blue-primary-background-styling-role-template {
  width: 11.7%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #4466f2!important;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.inverse-table-deep-blue-primary-background-styling-country-template {
  width: 15.7%;
  padding: 12px 0px 12px 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #4466f2!important;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.inverse-table-deep-blue-primary-background-styling-position-number {
  width: 4.8%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #4466f2!important;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-deep-blue-primary-background-styling-first-name {
  width: 20.4%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #4466f2!important;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-deep-blue-primary-background-styling-last-name {
  width: 18.55%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #4466f2!important;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-deep-blue-primary-background-styling-username {
  width: 17.9%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #4466f2!important;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-deep-blue-primary-background-styling-role {
  width: 11.7%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #4466f2!important;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-deep-blue-primary-background-styling-country {
  width: 15.7%;
  padding: 12px 0px 12px 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #4466f2!important;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-light-blue-primary-background-styling-position-number {
  width: 4.8%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #acbeff;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-light-blue-primary-background-styling-first-name {
  width: 20.4%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #acbeff;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-light-blue-primary-background-styling-last-name {
  width: 18.55%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #acbeff;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-light-blue-primary-background-styling-username {
  width: 17.9%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #acbeff;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-light-blue-primary-background-styling-role {
  width: 11.7%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #acbeff;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-light-blue-primary-background-styling-country {
  width: 15.7%;
  padding: 12px 0px 12px 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #acbeff;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-light-blue-primary-background-styling-position-number-last-row {
  width: 4.8%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #acbeff;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.inverse-table-light-blue-primary-background-styling-first-name-last-row {
  width: 20.4%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #acbeff;
  color: #fff;
  font-size: 14px;
}

.inverse-table-light-blue-primary-background-styling-last-name-last-row {
  width: 18.55%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #acbeff;
  color: #fff;
  font-size: 14px;
}

.inverse-table-light-blue-primary-background-styling-username-last-row {
  width: 17.9%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #acbeff;
  color: #fff;
  font-size: 14px;
}

.inverse-table-light-blue-primary-background-styling-role-last-row {
  width: 11.7%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #acbeff;
  color: #fff;
  font-size: 14px;
}

.inverse-table-light-blue-primary-background-styling-country-last-row {
  width: 15.7%;
  padding: 12px 0px 12px 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #acbeff;
  color: #fff;
  font-size: 14px;
}

span#primary-background {
  font-size: 12px;
  color: #777;
  margin-top: 5px;
  display: block;
  letter-spacing: 1px;
}

.hooverable-rows-container {
  width: 95.4%;
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  border-radius: 5px;
}

.hooverable-rows-styling {
  border: 0;
  width: 100%;
  transition: all .3s ease;
  letter-spacing: .5px;
  border-radius: 8px;
  box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
  display: flex;
  flex-direction: column;
}

.hooverable-rows-styling-headline {
  width: 100%;
  height: 103px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid #e8ebf2;
}

.hooverable-rows-styling-headline-top {
  width: 97.5%;
  font-size: 18px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
}

.hooverable-rows-styling-headline-bottom {
  width: 97.5%;
  font-size: 12px;
  color: #777;
  margin-top: 5px;
  display: block;
  letter-spacing: 1px;
  display: flex;
}

code#hoover {
  color: #4466f2!important;
  background-color: #f6f7fb;
  font-size: 10.5px;
  box-sizing: border-box;
  padding: 1px;
  margin: 0 3px;
  border-radius: 2px;
  word-break: break-word;
}
