.page-content {
  width: 100%;
  height: calc(100% - 80px);
  margin-top: 0px;
  padding: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f7fb;
}

.page-header-container {
  width: 100%;
  height: 88.8px;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header {
  width: 95.3%;
  height: 88.8px;
  margin: 0px;
  padding: 0;
  display: flex;
  align-items: center;
}

.page-header-left {
  width: 75%;
  height: 26.4px;
  margin: 0;
  padding: 0;
  display: flex;
}

.page-header-user-profile {
  width: 22.8%;
  height: 26.4px;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: work-Sans,sans-serif;
  color: #313131;
  margin-bottom: 0;
  font-weight: 600;
}

.page-header-left-page-tab{
  width: 55%;
  height: 26.4px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.page-header-house-icon {
  width: 4.9%;
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
  margin-left: 0;
  display: flex;
  align-items: center;
}

.page-header-users {
  margin: 0;
  padding: 0;
  font-size: 14px;
  word-spacing: 4px;
  display: flex;
  align-items: center;
}

.page-header-slash {
  width: 4%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6c757d;
}

.page-header-user-profile-right {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #6c757d;
}

.page-header-right-side-icons {
  /* width: calc(100vw - 520.2px); */
  height: 100%;
  width: 25%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.page-header-right-side-icons-calendar {
  width: 11.5%;
  font-size: 22px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page-header-right-side-icons-envelope {
  width: 11.5%;
  font-size: 22px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page-header-right-side-icons-chat {
  width: 11.5%;
  font-size: 22px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page-header-right-side-icons-star {
  width: 11.5%;
  font-size: 22px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: orange;
}

.basic-table-container {
  width: 95.4%;
  margin-bottom: 50px;
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  border-radius: 5px;
}

.basic-table-styling {
  border: 0;
  width: 100%;
  transition: all .3s ease;
  letter-spacing: .5px;
  border-radius: 8px;
  box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
  display: flex;
  flex-direction: column;
}

.basic-table-styling-headline {
  width: 100%;
  height: 103px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid #e8ebf2;
}

.basic-table-styling-headline-top {
  width: 97.5%;
  font-size: 18px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
}

.basic-table-styling-headline-bottom {
  width: 97.5%;
  font-size: 12px;
  color: #777;
  margin-top: 5px;
  display: block;
  letter-spacing: 1px;
  display: flex;
}

span {
  font-size: 12px;
  color: #777;
  margin-top: 5px;
  display: flex;
  letter-spacing: 1px;
}

code {
  color: #4466f2!important;
  background-color: #f6f7fb;
  font-size: 10.5px;
  box-sizing: border-box;
  padding: 3px;
  margin: 0 3px;
  border-radius: 2px;
  word-break: break-word;
}

.basic-table-row-styling-template {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.basic-table-styling-position-number-template {
  width: 4.8%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.basic-table-styling-first-name-template {
  width: 20.4%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-size: 14px;
  font-weight: bold;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.basic-table-styling-last-name-template {
  width: 18.55%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.basic-table-styling-username-template {
  width: 17.9%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.basic-table-styling-role-template {
  width: 11.7%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.basic-table-styling-country-template {
  width: 15.7%;
  padding: 12px 0px 12px 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.basic-table-styling-position-number {
  width: 4.8%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.basic-table-styling-first-name {
  width: 20.4%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.basic-table-styling-last-name {
  width: 18.55%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.basic-table-styling-username {
  width: 17.9%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.basic-table-styling-role {
  width: 11.7%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.basic-table-styling-country {
  width: 15.7%;
  padding: 12px 0px 12px 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.basic-table-styling-position-number-last-row {
  width: 4.8%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-weight: bold;
  font-size: 14px;
}

.basic-table-styling-first-name-last-row {
  width: 20.4%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-size: 14px;
}

.basic-table-styling-last-name-last-row {
  width: 18.55%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-size: 14px;
}

.basic-table-styling-username-last-row {
  width: 17.9%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-size: 14px;
}

.basic-table-styling-role-last-row {
  width: 11.7%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-size: 14px;
}

.basic-table-styling-country-last-row {
  width: 15.7%;
  padding: 12px 0px 12px 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  color: #313131;
  font-size: 14px;
}

.inverse-table-container {
  width: 95.4%;
  margin: 0;
  padding: 0;
  display: flex;
  border-radius: 5px;
}

.inverse-table-styling {
  margin-top: 30px;
  background-color: #fff;
  border: 0;
  width: 100%;
  transition: all .3s ease;
  letter-spacing: .5px;
  border-radius: 8px;
  box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
  display: flex;
  flex-direction: column;
}

.inverse-table-styling-position-number-template {
  width: 4.8%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.inverse-table-styling-first-name-template {
  width: 20.4%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.inverse-table-styling-last-name-template {
  width: 18.55%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.inverse-table-styling-username-template {
  width: 17.9%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.inverse-table-styling-role-template {
  width: 11.7%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.inverse-table-styling-country-template {
  width: 15.7%;
  padding: 12px 0px 12px 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.inverse-table-styling-position-number {
  width: 4.8%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-styling-first-name {
  width: 20.4%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-styling-last-name {
  width: 18.55%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-styling-username {
  width: 17.9%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-styling-role {
  width: 11.7%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-styling-country {
  width: 15.7%;
  padding: 12px 0px 12px 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-styling-position-number-last-row {
  width: 4.8%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.inverse-table-styling-first-name-last-row {
  width: 20.4%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-size: 14px;
}

.inverse-table-styling-last-name-last-row {
  width: 18.55%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-size: 14px;
}

.inverse-table-styling-username-last-row {
  width: 17.9%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-size: 14px;
}

.inverse-table-styling-role-last-row {
  width: 11.7%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-size: 14px;
}

.inverse-table-styling-country-last-row {
  width: 15.7%;
  padding: 12px 0px 12px 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292b2c;
  color: #fff;
  font-size: 14px;
}

.inverse-table-primary-background-container {
  width: 95.4%;
  margin: 0;
  padding: 0;
  display: flex;
  border-radius: 5px;
}

.inverse-table-primary-background-styling {
  margin: 30px 0px 30px 0px;
  background-color: #fff;
  border: 0;
  width: 100%;
  transition: all .3s ease;
  letter-spacing: .5px;
  border-radius: 8px;
  box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
  display: flex;
  flex-direction: column;
}

.inverse-table-deep-blue-primary-background-styling-position-number-template {
  width: 4.8%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #4466f2!important;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.inverse-table-deep-blue-primary-background-styling-first-name-template {
  width: 20.4%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #4466f2!important;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.inverse-table-deep-blue-primary-background-styling-last-name-template {
  width: 18.55%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #4466f2!important;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.inverse-table-deep-blue-primary-background-styling-username-template {
  width: 17.9%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #4466f2!important;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.inverse-table-deep-blue-primary-background-styling-role-template {
  width: 11.7%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #4466f2!important;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.inverse-table-deep-blue-primary-background-styling-country-template {
  width: 15.7%;
  padding: 12px 0px 12px 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #4466f2!important;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1.5px solid #e8ebf2;
}

.inverse-table-deep-blue-primary-background-styling-position-number {
  width: 4.8%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #4466f2!important;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-deep-blue-primary-background-styling-first-name {
  width: 20.4%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #4466f2!important;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-deep-blue-primary-background-styling-last-name {
  width: 18.55%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #4466f2!important;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-deep-blue-primary-background-styling-username {
  width: 17.9%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #4466f2!important;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-deep-blue-primary-background-styling-role {
  width: 11.7%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #4466f2!important;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-deep-blue-primary-background-styling-country {
  width: 15.7%;
  padding: 12px 0px 12px 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #4466f2!important;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-light-blue-primary-background-styling-position-number {
  width: 4.8%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #acbeff;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-light-blue-primary-background-styling-first-name {
  width: 20.4%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #acbeff;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-light-blue-primary-background-styling-last-name {
  width: 18.55%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #acbeff;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-light-blue-primary-background-styling-username {
  width: 17.9%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #acbeff;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-light-blue-primary-background-styling-role {
  width: 11.7%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #acbeff;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-light-blue-primary-background-styling-country {
  width: 15.7%;
  padding: 12px 0px 12px 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #acbeff;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e8ebf2;
}

.inverse-table-light-blue-primary-background-styling-position-number-last-row {
  width: 4.8%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #acbeff;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.inverse-table-light-blue-primary-background-styling-first-name-last-row {
  width: 20.4%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #acbeff;
  color: #fff;
  font-size: 14px;
}

.inverse-table-light-blue-primary-background-styling-last-name-last-row {
  width: 18.55%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #acbeff;
  color: #fff;
  font-size: 14px;
}

.inverse-table-light-blue-primary-background-styling-username-last-row {
  width: 17.9%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #acbeff;
  color: #fff;
  font-size: 14px;
}

.inverse-table-light-blue-primary-background-styling-role-last-row {
  width: 11.7%;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #acbeff;
  color: #fff;
  font-size: 14px;
}

.inverse-table-light-blue-primary-background-styling-country-last-row {
  width: 15.7%;
  padding: 12px 0px 12px 12px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #acbeff;
  color: #fff;
  font-size: 14px;
}

span#primary-background {
  font-size: 12px;
  color: #777;
  margin-top: 5px;
  display: block;
  letter-spacing: 1px;
}

.hooverable-rows-container {
  width: 95.4%;
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  border-radius: 5px;
}

.hooverable-rows-styling {
  border: 0;
  width: 100%;
  transition: all .3s ease;
  letter-spacing: .5px;
  border-radius: 8px;
  box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
  display: flex;
  flex-direction: column;
}

.hooverable-rows-styling-headline {
  width: 100%;
  height: 103px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid #e8ebf2;
}

.hooverable-rows-styling-headline-top {
  width: 97.5%;
  font-size: 18px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
}

.hooverable-rows-styling-headline-bottom {
  width: 97.5%;
  font-size: 12px;
  color: #777;
  display: block;
  letter-spacing: 1px;
  display: flex;
}

code#hoover {
  color: #4466f2!important;
  background-color: #f6f7fb;
  font-size: 10.5px;
  box-sizing: border-box;
  padding: 1px;
  margin: 0 3px;
  border-radius: 2px;
  word-break: break-word;
}

.contextual-classes-rows-container {
  width: 95.4%;
  margin-top: 30px;
  margin-bottom: 50px;
  margin: 0;
  padding: 0;
  display: flex;
  border-radius: 5px;
}

.contextual-classes-rows-styling {
  margin: 30px 0px 30px 0px;
  background-color: #fff;
  border: 0;
  width: 100%;
  transition: all .3s ease;
  letter-spacing: .5px;
  border-radius: 8px;
  box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
  display: flex;
  flex-direction: column;
}

.contextual-classes-rows-styling-headline {
  width: 100%;
  height: 123px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid #e8ebf2;
}

.contextual-classes-rows-styling-headline-top {
  width: 97.5%;
  font-size: 18px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
}

.contextual-classes-rows-styling-headline-bottom {
  width: 97.5%;
  font-size: 12px;
  color: #777;
  margin-top: 5px;
  display: block;
  letter-spacing: 1px;
  display: flex;
}

code#contextual {
  color: #4466f2!important;
  background-color: #f6f7fb;
  font-size: 10.5px;
  box-sizing: border-box;
  padding: 3px;
  margin: 0 3px;
  border-radius: 2px;
  word-break: break-word;
}

span#contextual {
  font-size: 12px;
  color: #777;
  margin-top: 5px;
  display: block;
  letter-spacing: 1px;
}

.contextual-classes-row-styling {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.contextual-classes-class-row-template {
  width: 36%;
  padding: .75rem;
  display: flex;
  border-bottom: 1.5px solid #e8ebf2;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  font-weight: bold;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.contextual-classes-heading-row-template {
  width: 29.5%;
  padding: .75rem;
  display: flex;
  border-bottom: 1.5px solid #e8ebf2;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  font-weight: bold;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.contextual-classes-primary-row-class {
  height: 21px;
  width: 36%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8ebf2;
  background-color: #b8daff;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  font-weight: bold;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.contextual-classes-primary-row-heading {
  height: 21px;
  width: 29.5%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8ebf2;
  background-color: #b8daff;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.contextual-classes-secondary-row-class {
  height: 21px;
  width: 29.5%;
  width: 36%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8ebf2;
  background-color: #d6d8db;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  font-weight: bold;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.contextual-classes-secondary-row-heading {
  height: 21px;
  width: 29.5%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8ebf2;
  background-color: #d6d8db;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.contextual-classes-success-row-class {
  height: 21px;
  width: 36%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8ebf2;
  background-color: #c3e6cb;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  font-weight: bold;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.contextual-classes-success-row-heading {
  height: 21px;
  width: 29.5%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8ebf2;
  background-color: #c3e6cb;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.contextual-classes-info-row-class {
  height: 21px;
  width: 36%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8ebf2;
  background-color: #bee5eb;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  font-weight: bold;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.contextual-classes-info-row-heading {
  height: 21px;
  width: 29.5%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8ebf2;
  background-color: #bee5eb;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.contextual-classes-warning-row-class {
  height: 21px;
  width: 36%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8ebf2;
  background-color: #ffeeba;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  font-weight: bold;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.contextual-classes-warning-row-heading {
  height: 21px;
  width: 29.5%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8ebf2;
  background-color: #ffeeba;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.contextual-classes-danger-row-class {
  height: 21px;
  width: 36%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8ebf2;
  background-color: #f5c6cb;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  font-weight: bold;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.contextual-classes-danger-row-heading {
  height: 21px;
  width: 29.5%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8ebf2;
  background-color: #f5c6cb;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.contextual-classes-light-row-class {
  height: 21px;
  width: 36%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8ebf2;
  background-color: #fdfdfe;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  font-weight: bold;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.contextual-classes-light-row-heading {
  height: 21px;
  width: 29.5%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8ebf2;
  background-color: #fdfdfe;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.contextual-classes-active-row-class {
  height: 21px;
  width: 36%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8ebf2;
  background-color: #d8d3d3;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  font-weight: bold;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.contextual-classes-active-row-heading {
  height: 21px;
  width: 29.5%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8ebf2;
  background-color: #d8d3d3;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.text-or-background-utilities-container {
  width: 95.4%;
  margin-top: 30px;
  margin-bottom: 50px;
  margin: 0;
  padding: 0;
  display: flex;
  border-radius: 5px;
}

.text-or-background-utilities-container-styling {
  width: 100%;
  margin: 0px 0px 30px 0px;
  background-color: #fff;
  border: 0;
  transition: all .3s ease;
  letter-spacing: .5px;
  border-radius: 8px;
  box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
  display: flex;
  flex-direction: column;
}

.text-or-background-utilities-row-styling{
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.text-or-background-utilities-row-position-template {
  height: 21px;
  width: 13%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #e8ebf2;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  font-weight: bold;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.text-or-background-utilities-row-headline-template{
  height: 21px;
  width: 40.5%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #e8ebf2;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  font-weight: bold;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.text-or-background-utilities-primary-row-styling {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: #fff;
  background-color: #4466f2!important;
}

.text-or-background-utilities-row-position-styling {
  height: 21px;
  width: 13%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #e8ebf2;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.text-or-background-utilities-row-headline-styling {
  height: 21px;
  width: 40.5%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #e8ebf2;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.text-or-background-utilities-secondary-row-styling {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: #fff;
  background-color: #1ea6ec!important;
}

.text-or-background-utilities-success-row-styling {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: #fff;
  background-color: #22af47!important;
}

.text-or-background-utilities-info-row-styling {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: #fff;
  background-color: #007bff!important;
}

.text-or-background-utilities-warning-row-styling {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: #fff;
  background-color: #ff9f40!important;
}

.text-or-background-utilities-danger-row-styling {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: #fff;
  background-color: #ff5370!important;
}

.text-or-background-utilities-light-row-styling {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: #313131;
  background-color: #f6f7fb!important;
}

.text-or-background-utilities-last-row-position-styling {
  height: 21px;
  width: 13%;
  padding: .75rem;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.text-or-background-utilities-last-row-headline-styling {
  height: 21px;
  width: 40.5%;
  padding: .75rem;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.table-head-options-container {
  width: 95.4%;
  margin-top: 30px;
  margin-bottom: 50px;
  margin: 0;
  padding: 0;
  display: flex;
  border-radius: 5px;
}

.table-head-options-container-styling {
  width: 100%;
  margin: 0px 0px 30px 0px;
  background-color: #fff;
  border: 0;
  transition: all .3s ease;
  letter-spacing: .5px;
  border-radius: 8px;
  box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
  display: flex;
  flex-direction: column;
}

span#table-head {
  font-size: 12px;
  color: #777;
  margin-top: 5px;
  display: block;
  letter-spacing: 1px;
}

.table-head-options-dark-row-styling-template {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #212529;
  border-color: #32383e;
  flex-direction: row;
}

.table-head-options-dark-row-position-template {
  height: 21px;
  width: 8%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #e8ebf2;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  font-weight: bold;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.table-head-options-dark-row-first-name-template {
  height: 21px;
  width: 28.5%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #e8ebf2;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  font-weight: bold;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.table-head-options-dark-row-last-name-template {
  height: 21px;
  width: 28.5%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #e8ebf2;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  font-weight: bold;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.table-head-options-dark-row-username-template {
  height: 21px;
  width: 27%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #e8ebf2;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  font-weight: bold;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.table-head-options-dark-row-styling {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.table-head-options-dark-row-position-styling {
  height: 21px;
  width: 8%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.table-head-options-dark-row-first-name-styling {
  height: 21px;
  width: 28.5%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.table-head-options-dark-row-last-name-styling {
  height: 21px;
  width: 28.5%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.table-head-options-dark-row-username-styling {
  height: 21px;
  width: 27%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.table-head-options-dark-last-row-position-styling {
  height: 21px;
  width: 8%;
  padding: .75rem;
  display: flex;
  align-items: center;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.table-head-options-dark-last-row-first-name-styling {
  height: 21px;
  width: 28.5%;
  padding: .75rem;
  display: flex;
  align-items: center;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.table-head-options-dark-last-row-last-name-styling {
  height: 21px;
  width: 28.5%;
  padding: .75rem;
  display: flex;
  align-items: center;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.table-head-options-dark-last-row-username-styling {
  height: 21px;
  width: 27%;
  padding: .75rem;
  display: flex;
  align-items: center;
  color: #313131;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.striped-row-styling-template {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #fff;
  flex-direction: row;
}

.striped-row-styling-template-light-grey{
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #fcfcfc;
  flex-direction: row;
}

.inversed-striped-row-black-styling-template {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  font-weight: bold;
  background-color: #212529;
  flex-direction: row;
}

.inversed-striped-row-black-styling {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #212529;
  flex-direction: row;
}

.inversed-striped-row-styling-template-dark-grey {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #91969c;
  flex-direction: row;
}

.inversed-striped-row-position-styling {
  height: 21px;
  width: 8%;
  padding: .75rem;
  display: flex;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid #e8ebf2;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.inversed-striped-row-first-name-styling {
  height: 21px;
  width: 28.5%;
  padding: .75rem;
  display: flex;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid #e8ebf2;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.inversed-striped-row-last-name-styling {
  height: 21px;
  width: 28.5%;
  padding: .75rem;
  display: flex;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid #e8ebf2;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.inversed-striped-row-username-styling {
  height: 21px;
  width: 27%;
  padding: .75rem;
  display: flex;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid #e8ebf2;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.captions-table-container-styling {
  width: 100%;
  height: 103px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid #e8ebf2;
}

.captions-table-rows-styling-headline-bottom {
  width: 97.5%;
  font-size: 12px;
  color: #777;
  display: block;
  letter-spacing: 1px;
  display: flex;
}

span#captions {
  font-size: 12px;
  color: #777;
  display: block;
  letter-spacing: 1px;
}

.captions-table-row-styling-template {
  width: 100%;
  padding: 0;
  margin: 0;
  border-top: 1px solid #e8ebf2;
  border-bottom: 1px solid #e8ebf2;
  display: flex;
  font-weight: bold;
  flex-direction: row;
}

.captions-table-row-styling-position-template {
  height: 21px;
  width: 8%;
  padding: .75rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-bottom: 1px solid #e8ebf2;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.captions-table-row-styling-first-name-template {
  height: 21px;
  width: 28.5%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8ebf2;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.captions-table-row-styling-last-name-template {
  height: 21px;
  width: 28.5%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8ebf2;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.captions-table-row-styling-username-template {
  height: 21px;
  width: 27%;
  padding: .75rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8ebf2;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.captions-table-last-row-styling-position-template {
  height: 21px;
  width: 8%;
  padding: .75rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.captions-table-last-row-styling-first-name-template {
  height: 21px;
  width: 28.5%;
  padding: .75rem;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.captions-table-last-row-styling-last-name-template {
  height: 21px;
  width: 28.5%;
  padding: .75rem;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.captions-table-last-row-styling-username-template {
  height: 21px;
  width: 27%;
  padding: .75rem;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  border-spacing: 2px;
  letter-spacing: .5px;
}

.captions-table-row-styling {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.list-of-users-caption {
  width: 100%;
  height: 43px;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-left: 10px;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

.responsive-tables-container {
  width: 95.4%;
  margin: 0;
  margin: 0;
  padding: 0;
  display: flex;
  border-radius: 5px;
}

.responsive-tables-container-styling {
  margin-bottom: 30px;
  background-color: #fff;
  border: 0;
  width: 100%;
  transition: all .3s ease;
  letter-spacing: .5px;
  border-radius: 8px;
  box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
  display: flex;
  flex-direction: column;
}

.responsive-tables-rows-styling-headline {
  width: 100%;
  height: 114px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid #e8ebf2;
}

.responsive-tables-row-styling-template {
  width: 100%;
  height: 64px;
  margin: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  line-height: 1.5;
  border-top: 0.5px solid #dee2e6;
  border-bottom: 1.5px solid #dee2e6;
}

.responsive-tables-row-position-template {
  width: 1%;
  padding: 0px 0px 8px 11px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
}

.responsive-tables-row-heading-template {
  width: 7%;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
}

.responsive-tables-row-styling {
  width: 100%;
  height: 64px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  line-height: 1.5;
  border-bottom: 1px solid #dee2e6;
}

.responsive-tables-row-position {
  width: 1%;
  padding: 0px 0px 8px 11px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 14px;
}

.responsive-tables-row-heading {
  width: 7%;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.responsive-tables-last-row-styling {
  width: 100%;
  height: 64px;
  margin: 0;
  padding-bottom: 0;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
}
