.page-content {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.page-header-container {
  width: 100%;
  height: 88.8px;
  margin: 0px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.page-header {
  width: 95.3%;
  height: 88.8px;
  margin: 0px;
  padding: 0;
  display: flex;
  align-items: center;
}

.page-header-left {
  width: 75%;
  margin: 0;
  height: 26.4px;
  display: flex;
}

.page-header-name {
  width: 20.8%;
  display: flex;
  font-size: 24px;
  font-weight: 600;
}

.page-header-house-icon {
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
  margin-left: 19px;
  display: flex;
  align-items: center;
}

.page-header-gallery {
  margin: 0;
  padding: 0px 0px 0px 6px;
  font-size: 14px;
  word-spacing: 4px;
  display: flex;
  align-items: center;
}

.page-header-slash {
  margin: 0;
  padding: 0px 8px 0px 8px;
  display: flex;
  align-items: center;
  color: #6c757d;
}

.page-header-gallery-grid {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #6c757d;
}

.page-header-right-side-icons {
  width: 25%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.page-header-right-side-icons-calendar {
  width: 11.5%;
  font-size: 22px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page-header-right-side-icons-envelope {
  width: 11.5%;
  font-size: 22px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page-header-right-side-icons-chat {
  width: 11.5%;
  font-size: 22px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page-header-right-side-icons-star {
  width: 11.5%;
  font-size: 22px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: orange;
}

.image-gallery-container {
  height: 682px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #f6f7fb;
  display: flex;
  justify-content: center;
}

.image-gallery-container-styling {
  height: 100%;
  width: 95.2%;
  margin: 0px;
  border-radius: 5px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #fff;
}

.image-gallery-header {
  height: 85px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #f6f7fb;
}

.image-gallery-header-styling {
  padding: 30px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: .5px;
}

.image-gallery-my-gallery {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 25px 0px;
  border: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-gallery-my-gallery-photo {
  padding: 0px 15px;
  margin-bottom: 16px;
}

.image-gallery-my-gallery-photo-frame {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}

.image-gallery-my-gallery-photo-frame img {
  height: 158.21px;
  width: 254.95px;
}

.footer {
  width: 100%;
  padding: 15px 0px 15px 0px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-top: 1px solid #f6f7fb;
}

.footer-styling {
  width: 95.4%;
  transition: all .3s ease;
  letter-spacing: .5px;
  display: flex;
  flex-direction: row;
}

.footer-styling-copyright {
  width: 50%;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 13px;
  font-family: work-Sans,sans-serif;
  color: #a4adb6;
  font-weight: 400;
  line-height: 1.5;
}

.footer-styling-handcraft {
  width: 50%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  font-family: work-Sans,sans-serif;
  color: #a4adb6;
  font-weight: 400;
  line-height: 1.5;
}

.footer-styling-handcraft-heart {
  margin-left: 5px;
  color: #d75a4a;
}
