.page-content {
  width: 100%;
  height: calc(100% - 80px);
  margin-top: 0px;
  padding: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f7fb;
}

.page-header-container {
  width: 100%;
  height: 88.8px;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header {
  width: 95.3%;
  height: 88.8px;
  margin: 0px;
  padding: 0;
  display: flex;
  align-items: center;
}

.page-header-left {
  width: 75%;
  height: 26.4px;
  margin: 0;
  padding: 0;
  display: flex;
}

.page-header-user-profile {
  width: 22.8%;
  height: 26.4px;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: work-Sans,sans-serif;
  color: #313131;
  margin-bottom: 0;
  font-weight: 600;
}

.page-header-left-page-tab{
  width: 55%;
  height: 26.4px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.page-header-house-icon {
  width: 4.9%;
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
  margin-left: 0;
  display: flex;
  align-items: center;
}

.page-header-users {
  margin: 0;
  padding: 0;
  font-size: 14px;
  word-spacing: 4px;
  display: flex;
  align-items: center;
}

.page-header-slash {
  width: 4%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6c757d;
}

.page-header-user-profile-right {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #6c757d;
}

.page-header-right-side-icons {
  height: 100%;
  width: 25%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.page-header-right-side-icons-calendar {
  width: 11.5%;
  font-size: 22px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page-header-right-side-icons-envelope {
  width: 11.5%;
  font-size: 22px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page-header-right-side-icons-chat {
  width: 11.5%;
  font-size: 22px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page-header-right-side-icons-star {
  width: 11.5%;
  font-size: 22px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: orange;
}

.container-fluid-user-profile {
  width: 95.4%;
  border-radius: .25rem;
}

.user-profile-header {
  margin: 0;
  width: 100%;
  height: 470px;
  display: flex;
}

.user-profile-header-background-photo {
  margin: 0;
  min-width: 100%;
  height: 470px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}

.user-profile-header-photo {
  height: 125px;
  width: 125px;
  position: relative;
  border-radius: 100%;
  border: 7px solid white;
  top: 76%;
  left: calc(-50% - 70px);
}

.info {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 318.4px;
  display: flex;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.user-info {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0px 0px 5px 5px;
}

.user-details-info {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
}

.user-details-info-row {
  width: 95%;
  height: 125px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.user-details-info-row-email-bod {
  height: 51%;
  max-width: 33.33333%;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 0 0 33.33333%;
}

.user-details-info-row-email {
  margin: 0;
  padding: 0;
  flex: 0 0 50%;
  max-width: 50%;
}

.user-details-info-row-email-top {
  height: 35%;
  font-size: 12px;
  color: #aaa;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  display: flex;
  flex-direction: row;
}

.user-details-info-row-email-top-icon {
  margin-right: .7rem;
}

.user-details-info-row-email-bottom {
  font-size: 14px;
  color: #1b252a;
  font-weight: 500;
  word-wrap: break-word;
  text-align: left!important;
  letter-spacing: .5px;
}

.user-details-info-row-dob {
  margin: 0;
  padding: 0;
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.user-details-info-row-dob-top {
  height: 35%;
  font-size: 12px;
  color: #aaa;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  display: flex;
  flex-direction: row;
}

.user-details-info-row-dob-top-icon {
  margin-right: .7rem;
}

.user-details-info-row-dob-bottom {
  font-size: 14px;
  color: #1b252a;
  font-weight: 500;
  word-wrap: break-word;
  text-align: left!important;
  letter-spacing: .5px;
}

.user-details-info-row-personal {
  height: 51%;
  max-width: 33.33333%;
  margin: 0;
  padding: 0;
  flex: 0 0 33.33333%;
  display: flex;
  flex-direction: column;
}

.user-details-info-row-name {
  padding: 0;
  margin: 0;
  color: #1b252a;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  letter-spacing: .5px;
}

.user-details-info-row-profession {
  height: 55%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #aaa;
  text-overflow: ellipsis;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .5px;
}

.user-details-info-row-contact-details {
  height: 51%;
  padding: 0;
  margin: 0;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  display: flex;
}

.user-details-info-row-contact-details-contact-us {
  margin: 0;
  padding: 0;
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.user-details-info-row-contact-details-contact-us-top {
  height: 35%;
  width: 65%;
  font-size: 12.5px;
  color: #aaa;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-details-info-row-contact-details-contact-us-top-icon {
  margin-right: .7rem;
}

.user-details-info-row-contact-details-contact-us-bottom {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #1b252a;
  font-weight: 500;
  letter-spacing: .5px;
}

.user-details-info-row-contact-details-location {
  margin: 0;
  padding: 0;
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.user-details-info-row-contact-details-location-top {
  height: 35%;
  width: 65%;
  font-size: 12.5px;
  color: #aaa;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-details-info-row-contact-details-location-top-icon {
  margin-right: .7rem;
}

.user-details-info-row-contact-details-location-bottom-parent {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.user-details-info-row-contact-details-location-bottom {
  width: 87%;
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #1b252a;
  font-weight: 500;
  letter-spacing: .5px;
}

.user-details-info-icons-row-parent {
  width: 100%;
  height: 60px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.user-info-traffic-monitoring-parent {
  height: 131.05px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.user-info-traffic-monitoring {
  height: 101.05px;
  width: 95%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.user-info-traffic-monitoring-follower {
  height: 74.05px;
  width: 50%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #dee2e6!important;
}

.user-info-traffic-monitoring-follower-number {
  margin: 0;
  padding: 0;
  font-size: 36px;
  color: #1b252a;
  font-family: work-Sans,sans-serif;
  justify-content: center;
  display: flex;
  position: relative;
  right: 9px;
}

.user-info-traffic-monitoring-follower-text {
  height: 35px;
  color: #aaa;
  letter-spacing: .5px;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 9px;
}

.user-details-info-icons-row {
  width: 95%;
  height: 60px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  font-size: 24px;
  letter-spacing: 37px;
}

.user-details-info-icons-row i {
  cursor: pointer;
  display: flex;
  color: #aaa;
  left: 24px;
  position: relative;
}

.user-info-traffic-monitoring-following {
  height: 74.05px;
  width: calc(50% - 1px);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.user-info-traffic-monitoring-following-number {
  margin: 0;
  padding: 0;
  font-size: 36px;
  color: #1b252a;
  font-family: work-Sans,sans-serif;
  justify-content: center;
  display: flex;
}

.user-info-traffic-monitoring-following-text {
  height: 35px;
  color: #aaa;
  letter-spacing: .5px;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
}

.container-fluid {
  width: 95.4%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.johan-dio-mountains-container {
  width: 100%;
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  border-radius: 5px;
}

.johan-dio-mountains-style {
  width: 100%;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.johan-dio-mountains-style-top-row {
  width: 95%;
  height: 140px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #dee2e6;
}

.johan-dio-mountains-style-profile-picture {
  max-width: 66.66667%;
  width: 6.5%;
  display: flex;
  margin: 0;
}

.johan-dio-mountains-style-profile-picture img {
  height: 75px;
  width: 75px;
  padding: .25rem;
  position: relative;
  border-radius: 100%;
  border: 1px solid #dee2e6;
}

.johan-dio-mountains-style-top-row-user-name {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  font-weight: bolder;
  color: #313131;
  line-height: 1.5;
  letter-spacing: .5px;
}

.johan-dio-mountains-style-top-row-time-of-post {
  height: 100%;
  width: 83.5%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 11.2px;
  overflow-x: hidden;
  font-family: work-Sans,sans-serif;
  color: #313131;
  letter-spacing: .5px;
}

.johan-dio-mountains-style-lorem-ipsum-passage {
  width: 95%;
  height: 120px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #898989;
  letter-spacing: .7px;
  font-family: work-Sans,sans-serif;
  line-height: 30px;
}

.johan-dio-mountains-style-mountains {
  width: 95%;
  padding: 0;
  display: flex;
}

.johan-dio-mountains-style-mountains-picture {
  margin: 0;
  min-width: 100%;
  height: 330px;
  border-radius: 5px;
  position: relative;
}

.johan-dio-mountains-like-and-comment {
  width: 95%;
  height: 78px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;;
}

.johan-dio-mountains-like {
  width: 109px;
  margin: 0;
  padding: 0;
  letter-spacing: .5px;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  color: #313131;
  word-spacing: 5px;
  display: flex;
  border-right: 1px solid #dee2e6;
}

.johan-dio-mountains-like i {
  color: grey;
  margin-right: 8px;
}

.johan-dio-mountains-comment {
  width: 150px;
  margin: 0;
  padding: 0;
  letter-spacing: .5px;
  font-size: 14px;
  font-family: work-Sans,sans-serif;
  color: #313131;
  word-spacing: 5px;
  display: flex;
}

.johan-dio-mountains-comment i {
  color: grey;
  margin-left: 17px;
  margin-right: 8px;
}

.johan-dio-double-mountains {
  width: 100%;
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
}

.johan-dio-double-mountains-picture {
  width: 95%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.johan-dio-double-mountains-image-left {
  width: 48.7%;
  border-radius: 5px;
  display: flex;
  position: relative;
  justify-content: flex-start;
}

.johan-dio-double-mountains-image-right {
  width: 48.7%;
  border-radius: 5px;
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.johan-dio-lorem-ipsum {
  width: 100%;
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
}

.johan-dio-lorem-ipsum-passage {
  width: 95%;
  height: 205px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-end;
  font-size: 14px;
  color: #898989;
  letter-spacing: .7px;
  font-family: work-Sans,sans-serif;
  line-height: 30px;
}

.johan-dio-lorem-ipsum {
  width: 100%;
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
}

.johan-dio-skyscrappers {
  width: 100%;
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
}

.johan-dio-skyscrappers-image-text {
  width: 95%;
  height: 235px;
  padding: 0;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.johan-dio-skyscrappers-image {
  height: 235px;
  width: 360px;
  margin-right: 30px;
}

.johan-dio-skyscrappers-image img {
  border-radius: 5px;
  height: 235px;
  width: 360px;
}

.johan-dio-skyscrappers-text {
  width: 50%;
  height: 270px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  color: #898989;
  letter-spacing: .7px;
  font-family: work-Sans,sans-serif;
  line-height: 30px;
}

.footer {
  width: 100%;
  padding: 15px 0px 15px 0px;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-top: 1px solid #f6f7fb;
}

.footer-styling {
  width: 95.4%;
  transition: all .3s ease;
  letter-spacing: .5px;
  display: flex;
  flex-direction: row;
}

.footer-styling-copyright {
  width: 50%;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 13px;
  font-family: work-Sans,sans-serif;
  color: #a4adb6;
  font-weight: 400;
  line-height: 1.5;
}

.footer-styling-handcraft {
  width: 50%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  font-family: work-Sans,sans-serif;
  color: #a4adb6;
  font-weight: 400;
  line-height: 1.5;
}

.footer-styling-handcraft-heart {
  margin-left: 5px;
  color: #d75a4a;
}
